*{
	padding:0;
	margin: 0;
}
.mark{
	position: relative;
	width: 100%;
	height: 600px;
	background: rgba(0,0,0,.5);
}
.dialog{
	position: absolute;
	width: 400px;
	height: 400px;
	background: #fff;
	margin-top: 100px;
	margin-left: 180px;
}
.dialog-title{
	line-height: 40px;
	padding: 0 15px;
	border-bottom:1px solid #ccc;
}
.span1{
	float: right;
	margin-right: 15px;
}
.dialog-content{
	position: relative;
	padding: 15px;
}
.btn1{
	position: absolute;
	margin-top: 250px;
	margin-left: 0px;
}
.btn2{
	position: absolute;
	margin-top: 250px;
	margin-left: 80px;
}